<!doctype html>
<html lang="en">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>NewsApp</title>
    <link href="/dist/app.css" rel="stylesheet" />  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto" rel="stylesheet" />
</head>
<body ng-app="app">

<div class="container" data-ng-controller="appController as app">
    <main>
        <div class="nav nav-primary">
            <div class="wrapper">
                <h1 class="logo">💬 <a data-ng-href="/">NewsApp</a></h1>
                <div ng-if="!app.isAuth" class="menu">
                    <a data-ng-href="?login">Register</a>
                    <a data-ng-href="?login">Login</a>
                </div>
                <div ng-if="app.isAuth" class="menu">
                    <a data-ng-href="?create">Profile</a>
                    <a data-ng-href="?create">Inbox</a>
                    <a data-ng-href="?create">Logout <i class="material-icons">exit_to_app</i></a>
                </div>
  
            </div>
        </div>
        <div data-ng-view></div>
        <footer class="nav nav-primary">
            <div class="wrapper">
                <h1 class="logo">💬 <a data-ng-href="/">NewsApp</a></h1>
                <div class="menu">
                    <p>&copy; 2016 NewsApp</p>
                </div>

                <p>Terms of Service &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Help</p>
    
  
            </div>
        </footer>
    </main>
    <modal-box data-ng-if="app.modal.show" data-type="app.modal.type"></modal-box>
</div>
<script type="text/javascript" src="/dist/bundle.js"></script>
</body>
</html>