*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-ng-click] {
    cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  margin-top: -3px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body {
    font-family: 'Roboto';
    background-color: #eaeaea;
    width: 100%;
    min-height: 100%;
}

.container {
 
  width: 100%;
  min-height: 100%;
}


 

main {
 background-image: url('../img/gray-bg.png');
 background-size: 150%;
 background-size: contain;

  .content {
    display: table;
    padding: 1rem;    
    margin: auto;
    margin-top: -4rem;
    max-width: 1240px;
    width: 100%;
    animation-name: fadeInUp;
    animation-duration: 700ms;
    animation-fill-mode: both;
  }
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    line-height: 160%;
}

p {
    margin: 0;
    padding: 0;
    line-height: 160%;
    color: #555555;
}

a {
    line-height: 160%;
    color: #777;
    text-decoration: none;
    transition: color 350ms;
    &:hover {
      color: #c0c0c0;
    }
}

li {
    list-style: none;
}
 
.loading {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #666 #666 #fff #fff;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  animation: spin .6s infinite linear;
}

.wrapper {
    max-width: 1240px;
    margin: auto;
    padding: 0 1.5rem;
}

footer {
 
}