.nav {
    @include clearfix();
    .menu {
        float: right;    
        a {
            margin-left: 1rem;
        }
    }
}
.nav-primary {
    background-color: #272727;
    border-bottom: 2px solid #303030;
    width: 100%;
    .logo {
        float: left;
        color: #fff;
        font-size: 1.25rem;
        line-height: 5rem;
        vertical-align: middle;
        a {
          font-family: 'PT Serif';
          color: #fff;
        }
    }
    .menu a {
        line-height: 5rem;
    }
    p {
        text-align: center;
       line-height: 5rem; 
    }
}

.nav-secondary {
    background-color: #272727;
    border-bottom: 2px solid #212121;
    padding: 1rem 0;
    .topic {
        padding: 2rem 0;
        color: #f0f0f0;
        float: left;
        h1 {
        font-weight: 200;
            font-size: 2.25rem;
            line-height: 4rem;
            &:first-letter {
                text-transform:capitalize;
            }
        }
    }
    .menu {
        padding: 2rem 0;
    }
    .menu a {
        font-size: 1rem;
        padding: 1rem;
        line-height: 4rem;    
    }

    .form {
        margin-bottom: 1rem;
    }



}


.nav-select {
        padding: 2rem 0;
    text-align: center;
    .topics {
        display: inline;
        margin: 1rem;
        line-height: 4rem;

        color: #fff;
        font-size: 1.5rem;
        animation-name: fadeInUp;
        animation-duration: 700ms;
        animation-fill-mode: both;
        &:nth-child(1) { animation-delay: 150ms; }
        &:nth-child(2) { animation-delay: 300ms; }
        &:nth-child(3) { animation-delay: 450ms; }
        &:nth-child(4) { animation-delay: 600ms; }
        &:nth-child(5) { animation-delay: 750ms; }
        &:nth-child(6) { animation-delay: 900ms; }
    }
}
