.scoring {
    float: left;
    width: 3em;
    margin: 0 1.5%;
    color: #b0b0b0;
    &:hover {
        color: #a0a0a0;
    }
    &.active {
        color: #4A90E2;
    }

    text-align: center;
    -webkit-user-select: none;
    user-select: none;

    padding-right: 1em;
}
.scoring-up {
    text-align: center;
 
}
.scoring-number {
    font-size: 1.25em;
}